<!-- Header
      ============================================= -->
<header id="header" class="transparent-header full-header" data-sticky-class="not-dark">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
                ============================================= -->
      <div id="logo">
        <a href="/index.html" class="standard-logo" data-dark-logo="/images/i-feel-lucky-desktop-ui/priceline-logo.png"><img
                src="/images/i-feel-lucky-desktop-ui/priceline-logo.png" alt="Priceline Logo"></a>
        <a href="/index.html" class="retina-logo" data-dark-logo="/images/i-feel-lucky-desktop-ui/priceline-logo.png"><img
                src="/images/i-feel-lucky-desktop-ui/priceline-logo.png" alt="Priceline Logo"></a>
      </div><!-- #logo end -->

    </div>

  </div>

</header><!-- #header end -->
