<div class="container clearfix">
  <div class="row clearfix">
    <div class="col-lg-5">
      <div class="heading-block topmargin">
        <h1>Business Logic</h1>
      </div>
      <p class="lead">
        On the back end, the underlying User Behavior Pattern Recognizer will be a thing of beauty.
        It will take into account your previous booking history and preferences (if available),
        your recent search pattern and if you are totally unknown to it, then it will look at
        what others like you like.</p>
    </div>
    <div class="col-lg-7">
      <div style="position: relative; margin-bottom: -60px;" class="ohidden" data-height-lg="626"
           data-height-md="626" data-height-sm="626" data-height-xs="626" data-height-xxs="626">
        <img src="/images/i-feel-lucky-desktop-ui/business-logic.jpg" style="position: absolute; top: 0; left: 0;"
             data-animate="fadeInUp" data-delay="100" alt="autobot overview">
      </div>
    </div>
  </div>
</div>
