<div id="hotel-search">
  <h3 id="search-and-save-on-h">Search and Save on Hotels</h3>
  <form id="hotel-search-form" name="hotel-search-form" action="/test" method="get"
        class="label-font-overwrite input-font-overwrite">
    <div class="form-group">
      <label for="where-are-you-going-input">Where are you going</label>
      <input type="text" id="where-are-you-going-input" class="form-control"
             placeholder="City, Airport, Point of Interest, Hotel Name or U.S. Zip Code"/>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label id="check-in-label" for=check-in-input">Check-in </label>
        <input type="text" id="check-in-input" class="form-control"
               placeholder="Choose Date"/>
      </div>

      <div class="form-group col-md-3">
        <label id="check-out-label" for=check-out-input">Check-out </label>
        <input type="text" id="check-out-input" class="form-control"
               placeholder="Choose Date"/>
      </div>

      <div class="form-group col-md-3">
        <label id="rooms-label" for=rooms-input">Rooms </label>
        <select id="rooms-select" class="form-control">
          <option value="1">1 Rooms</option>
          <option value="2">2 Rooms</option>
          <option value="3">3 Rooms</option>
          <option value="4">4 Rooms</option>
          <option value="5">5 Rooms</option>
          <option value="6">6 Rooms</option>
          <option value="7">7 Rooms</option>
          <option value="8">8 Rooms</option>
          <option value="9">9 Rooms</option>
          <option value="10+">10+ Rooms</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <button type="button" id="hotel-search-form-submit-btn" class="btn btn-success btn-block" value="search">Search
          Hotels
        </button>
      </div>
      <div class="col-md-5">
        <div class="dropdown">
          <button type="button" id="hotel-search-form-lucky-submit-btn"
                  class="btn btn-primary btn-block dropdown-togglen" data-toggle="dropdown" value="">
            I'm Feeling...
            <span class="glyphicon glyphicon-menu-down" style="float:right"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
              style="width:100%; background-color:#f2f2f2; color: #0a84c1;">
            <li><a class="feeling-option" href="#">Romantic</a></li>
            <li><a class="feeling-option" href="#">Business_like</a></li>
            <li><a class="feeling-option" href="#">Family_like</a></li>
            <li><a class="feeling-option" href="#">Trendy</a></li>
            <li><a class="feeling-option" href="#">Luxurious</a></li>
            <li><a class="feeling-option" href="#">Boutiquey</a></li>
            <li><a class="feeling-option" href="#">Beachy</a></li>
            <li><a class="feeling-option" href="#">Usual</a></li>
          </ul>
        </div>
      </div>
    </div>
  </form>

</div>
