{{> header }}

{{> detail-title}}

<!-- Content
    ============================================= -->
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

      {{> detail-hotel}}

    </div>
  </div>
</section><!-- #content end -->

{{> footer }}
