{{> header }}

<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">

  <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">

      <div class="swiper-slide dark" style="background-image: url('/images/autobot-ui/1.jpg');">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center">
            <h2 data-caption-animate="fadeInUp">An Overview of Autobot</h2>
            <p data-caption-animate="fadeInUp" data-caption-delay="200">Let's first begin with what automation hopes to accomplish.
              Presently QA testers perform their tests manually and are consistently pressed for time ensuring that all of the core
              functionality works while also testing that new features do not cause unexpected breakages.  These Front End automation
              scripts aim to reduce the time a QA tester spends testings these core features so that more time may be spent testing (new)
              features which provide a better user experience.  </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide dark" style="background-image: url('/images/autobot-ui/2.jpg');">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center">
            <h2 data-caption-animate="fadeInUp">Client-side – CLI</h2>
            <p data-caption-animate="fadeInUp" data-caption-delay="200">
              As seen in the screenshot above, the CLI guides the user through various criteria to help him/her decide which test(s) to run.
              After all criteria are set, the CLI sends a POST request to the Express server's REST API, after which the Express server processes this command.</p>
          </div>
        </div>
      </div>

      <div class="swiper-slide dark" style="background-image: url('/images/autobot-ui/3.jpg');">
        <div class="container clearfix">
          <div class="slider-caption slider-caption-center">
            <h2 data-caption-animate="fadeInUp">Server-side – Express</h2>
            <p data-caption-animate="fadeInUp" data-caption-delay="200">
              As seen above, the Express server hosts all of the test scripts in a folder structure corresponding to the flow seen in the CLI.
              Page Object Models are at the core of this automation framework.  They provide three (3) big advantages: reusability, readability, and maintainability. </p>
          </div>
        </div>
      </div>

    </div>
    <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
    <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
  </div>

  <script>
    jQuery(document).ready(function($) {
      var swiperSlider = new Swiper('.swiper-parent', {
        paginationClickable: false,
        slidesPerView: 1,
        grabCursor: true,
        loop: true,
        onSwiperCreated: function(swiper) {
          $('[data-caption-animate]').each(function() {
            var $toAnimateElement = $(this);
            var toAnimateDelay = $(this).attr('data-caption-delay');
            var toAnimateDelayTime = 0;
            if (toAnimateDelay) {
              toAnimateDelayTime = Number(toAnimateDelay) + 750;
            } else {
              toAnimateDelayTime = 750;
            }
            if (!$toAnimateElement.hasClass('animated')) {
              $toAnimateElement.addClass('not-animated');
              var elementAnimation = $toAnimateElement.attr('data-caption-animate');
              setTimeout(function() {
                $toAnimateElement.removeClass('not-animated').addClass(elementAnimation + ' animated');
              }, toAnimateDelayTime);
            }
          });
          SEMICOLON.slider.swiperSliderMenu();
        },
        onSlideChangeStart: function(swiper) {
          $('[data-caption-animate]').each(function() {
            var $toAnimateElement = $(this);
            var elementAnimation = $toAnimateElement.attr('data-caption-animate');
            $toAnimateElement.removeClass('animated').removeClass(elementAnimation).addClass('not-animated');
          });
          SEMICOLON.slider.swiperSliderMenu();
        },
        onSlideChangeEnd: function(swiper) {
          $('#slider').find('.swiper-slide').each(function() {
            if ($(this).find('video').length > 0) {
              $(this).find('video').get(0).pause();
            }
            if ($(this).find('.yt-bg-player').length > 0) {
              $(this).find('.yt-bg-player').pauseYTP();
            }
          });
          $('#slider').find('.swiper-slide:not(".swiper-slide-active")').each(function() {
            if ($(this).find('video').length > 0) {
              if ($(this).find('video').get(0).currentTime != 0) $(this).find('video').get(0).currentTime = 0;
            }
            if ($(this).find('.yt-bg-player').length > 0) {
              $(this).find('.yt-bg-player').getPlayer().seekTo($(this).find('.yt-bg-player').attr('data-start'));
            }
          });
          if ($('#slider').find('.swiper-slide.swiper-slide-active').find('video').length > 0) {
            $('#slider').find('.swiper-slide.swiper-slide-active').find('video').get(0).play();
          }
          if ($('#slider').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').length > 0) {
            $('#slider').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').playYTP();
          }

          $('#slider .swiper-slide.swiper-slide-active [data-caption-animate]').each(function() {
            var $toAnimateElement = $(this);
            var toAnimateDelay = $(this).attr('data-caption-delay');
            var toAnimateDelayTime = 0;
            if (toAnimateDelay) {
              toAnimateDelayTime = Number(toAnimateDelay) + 300;
            } else {
              toAnimateDelayTime = 300;
            }
            if (!$toAnimateElement.hasClass('animated')) {
              $toAnimateElement.addClass('not-animated');
              var elementAnimation = $toAnimateElement.attr('data-caption-animate');
              setTimeout(function() {
                $toAnimateElement.removeClass('not-animated').addClass(elementAnimation + ' animated');
              }, toAnimateDelayTime);
            }
          });
        }
      });

      $('#slider-arrow-left').on('click', function(e) {
        e.preventDefault();
        swiperSlider.swipePrev();
      });

      $('#slider-arrow-right').on('click', function(e) {
        e.preventDefault();
        swiperSlider.swipeNext();
      });
    });
  </script>

  <a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i
          class="icon-angle-down infinite animated fadeInDown"></i></a>

</section>

<!-- Content
    ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      <div class="row clearfix">

        <div class="col-lg-5">
          <div class="heading-block topmargin">
            <h1>Automation Framework</h1>
          </div>
          <p class="lead">
            The automation framework is composed of several parts working in tandem: Client-side (CLI), Server-side
            (Express), and the Cloud (Sauce Labs).</p>
        </div>

        <div class="col-lg-7">

          <div style="position: relative; margin-bottom: -60px;" class="ohidden" data-height-lg="626"
               data-height-md="626" data-height-sm="626" data-height-xs="626" data-height-xxs="626">
            <img src="/images/autobot-ui/1.png" style="position: absolute; top: 0; left: 0;"
                 data-animate="fadeInUp" data-delay="100" alt="autobot overview">
          </div>

        </div>

      </div>
    </div>

    <div class="section nobottommargin">
      <div class="container clear-bottommargin clearfix">

        <div class="row topmargin-sm clearfix">

          <div class="col-md-4 bottommargin">
            <i class="i-plain color i-large icon-search2 inline-block" style="margin-bottom: 15px;"></i>
            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
              <span class="before-heading">Client-Side</span>
              <h4>Command Line Interface</h4>
            </div>
            <p>
              After all criteria are set, the CLI sends a POST request to the Express server's REST API,
              after which the Express server processes this command.</p>
          </div>

          <div class="col-md-4 bottommargin">
            <i class="i-plain color i-large icon-bulb inline-block" style="margin-bottom: 15px;"></i>
            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
              <span class="before-heading">Server-side</span>
              <h4>Nodejs</h4>
            </div>
            <p>Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven,
              non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the
              largest ecosystem of open source libraries in the world.</p>
          </div>

          <div class="col-md-4 bottommargin">
            <i class="i-plain color i-large icon-like inline-block" style="margin-bottom: 15px;"></i>
            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
              <span class="before-heading">Server-side</span>
              <h4>Expressjs</h4>
            </div>
            <p>
              Page Object Models are at the core of this automation framework.  They provide three (3) big
              advantages: reusability, readability, and maintainability.</p>
          </div>

        </div>

      </div>
    </div>

    <div class="container clearfix">

      <div class="row topmargin-lg bottommargin-sm">

        <div class="heading-block center">
          <h2>MongoDB</h2>
          <span class="divcenter">MongoDB is the leading NoSQL database, empowering businesses to be more agile and scalable.</span>
        </div>

        <div class="col-md-4 col-sm-6 bottommargin">

          <div class="feature-box fbox-right topmargin" data-animate="fadeIn">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line-heart"></i></a>
            </div>
            <h3>Express</h3>
            <p>Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications.</p>
          </div>

          <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="200">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line-paper"></i></a>
            </div>
            <h3>AngularJS</h3>
            <p>AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
          </div>

          <div class="feature-box fbox-right topmargin" data-animate="fadeIn" data-delay="400">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line-layers"></i></a>
            </div>
            <h3>Node.js</h3>
            <p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</p>
          </div>

        </div>

        <div class="col-md-4 hidden-sm bottommargin center">
          <img src="/images/autobot-ui/ninja.png" alt="iphone 2">
        </div>

        <div class="col-md-4 col-sm-6 bottommargin">

          <div class="feature-box topmargin" data-animate="fadeIn">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line-power"></i></a>
            </div>
            <h3>Mongoose</h3>
            <p>Mongoose provides a straight-forward, schema-based solution to model your application data. It includes
              built-in type casting, validation, query building, business logic hooks and more, out of the box.</p>
          </div>

          <div class="feature-box topmargin" data-animate="fadeIn" data-delay="200">
            <div class="fbox-icon">
              <a href="#"><i class="icon-line-check"></i></a>
            </div>
            <h3>Webstorm</h3>
            <p>Lightweight yet powerful IDE, perfectly equipped for complex client-side development and server-side development with Node.js</p>
          </div>

          <div class="feature-box topmargin" data-animate="fadeIn" data-delay="400">
            <div class="fbox-icon">
              <a href="#"><i class="icon-bulb"></i></a>
            </div>
            <h3>ESLint</h3>
            <p>
              ESLint is an open source project originally created by Nicholas C. Zakas in June 2013. Its goal is to provide a pluggable linting utility for JavaScript.</p>
          </div>

        </div>

      </div>

    </div>

  </div>

</section><!-- #content end -->

{{> footer }}
